/* src/App.css */
.app-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 2rem;
  flex-grow: 1;
  background-color: #e9ecef; /* Light grey content background */
}